name: build-nix-sdcard-docker-ondemand
on:
  workflow_dispatch:
    inputs:
      target:
        description: Target builder folder containing a default.next file to build an SD image
        required: true
        default: rpi4-aarch64
      
jobs: 
  build-target-image:
    name: Build target image
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4.1.0
    - uses: cachix/install-nix-action@7ac1ec25491415c381d9b62f0657c7a028df52a7 # v24
      with:
        nix_path: nixpkgs=channel:nixos-23.05
        extra_nix_config: |
          extra-platforms = aarch64-linux
    - name: Check nix.conf
      run: cat /etc/nix/nix.conf
    - name: Register binfmt
      run: |
        docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - name: Test binfmt availability
      run: |
        cat /proc/sys/fs/binfmt_misc/qemu-aarch64
    - name: Build NixOS Image
      run: |
        nix-build '<nixpkgs/nixos>'  \
          -A config.system.build.sdImage \
          -I nixos-config=./builders/${{ github.event.inputs.target }}/default.nix \
          --argstr system aarch64-linux \
          --option sandbox false
    - uses: actions/upload-artifact@v3
      with:
        name: nixos.img
        path: ./result/sd-image/*.img*  
